body{
    background-color:rgb(244, 243, 243);
}
img{
    width: 321px;
    height: 106px;
    padding-left: 130px;
    padding-top:170px ;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 370;
    font-size:30px;
    padding-bottom:200px;
    padding-left:160px;
    margin: 0;
}
.box{
    width:400px;
    height:350px;
    background-color:white;
    border: solid 0px;
    border-radius:30px;
    box-shadow:2px 2px 5px rgb(49, 49, 49)  ;
    margin-left: 800px;
    margin-top: -400px; 
}

    .box {
      background: white;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
    }
    h4{
      font-size:30px;
      font-weight:150;
    }
    p{
     font-size:20px;
    }

    input {
      width: 90%;
      height: 10%;
      font-size: 15px;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid #ddd;
      border-radius: 6px;
    }

    button {
      background-color: #1877f2;
      color: white;
      padding: 12px;
      border: none;
      width: 95%;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover {
      background-color:rgb(7, 91, 236);
    }
    .creat{
       background-color: #04cc26;
      color: white;
      padding: 12px;
      border: none;
      width: 50%;
      font-weight: 900;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
    }
    .creat:hover{
      background-color:#028618;
    }
    .bottom{
      font-size:15px;
      font-weight: 700;

    }